body{
    margin: 0;
    background-color: #F6E5DC;
}

.container{
    font-family: Verdana;
}

.baner{
    background-color: #2F180C;
    text-align: center;
    color: khaki;
    height: 60px;
}

.panel-lewy {
    width: 60%;
    float: Left;
}

.panel-prawy{
    font-size: 150%;
    width: 40%;
    max-height: 350px;
    float: right;
}

.panel-dolny{
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
    margin-top: 360px;
}

.resetInput {
    padding: 5px;
    margin: 10px; 
    background-color: #2F180C;
    color: khaki; 
}

.submitInput{
    padding: 5px;
    margin: 10px; 
    background-color: #2F180C;
    color: khaki; 
}

p{
    margin: 0;
    padding: 0;
}

.checkbox{
    justify-content: center;
    display: flex;
}

.checkbox > input {
    margin: 0;
}

.footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px; 
    bottom: 0px;
}